* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* App  */
.App {
    background-color: #ece5dd;
    max-height: 100%;
    padding: 20px;
}

/* Login  */

.login_title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.login_icon {
    margin-right: 10px;
    color: rgb(4, 170, 170);
    font-size: 30px;
}

.login_form {
    display: flex;
    justify-content: center;
}

.login_form input {
    margin: 10;
    height: 50px;
    width: 25%;
    border-radius: 10px;
    border-width: 5px;
    border-color: rgb(4, 170, 170);
    font-size: 15px;
    padding-inline: 10px;
    margin-right: 20px;
}

.login_form button {
    width: 10%;
    height: 50px;
    font-weight: bold;
    border-radius: 10px;
    font-size: 18px;
    background-color: #075e54;
    border-width: 0;
    color: #fff;
    margin: 10px,
}

/* Chat Container  */
.chats_header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.chats_icon {
    color: red;
}

.chats_logout {
    color: rgb(6, 152, 152);
}


.home {
    padding: 0 10%;
}
/* chats list  */
.chats_list {
    height: 75vh;
    overflow: scroll;
    overflow-x: hidden;
}
.chat_sender {
    display: flex;
    justify-content: flex-end;
    flex-direction: row
}

.chat_sender img,
.chat_receiver img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.chat_sender p {
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    max-width: 60%,
}

.chat_receiver {
    display: flex;
    justify-content: flex-start;
    flex-direction: row
}


.chat_receiver p {
    padding: 10px;
    background-color: #aff6be;
    border-radius: 10px;
    max-width: 60%,
}

/* input text  */

.inputtext_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center
}

.inputtext_container button {
    width: 10%;
    height: 50px;
    font-weight: bold;
    border-radius: 10px;
    font-size: 18px;
    background-color: rgb(4, 170, 170);
    border-width: 0;
    color: #fff;
    cursor: pointer;
}

.inputtext_container textarea {
    width: 60%;
    height: 50px;
    border-radius: 10px;
    border-width: 0;
    padding: 10px;
    font-size: 18px,
}